<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/img/developer.png" alt="">
  </div>
  <div class="headings">
    <h2>NodeJs JWT Auth Test</h2>
    <h3>By NodeJs Developer</h3>
    <a href="/items" class="btn">View Items</a>
  </div>
</header>


<%- include('partials/footer'); -%>