<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/img/HTML5.png" alt="smoothie recipe icon">
    <h4>HTML5</h4>
    <p>Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser.</p>
  </li>
  <li class="recipe">
    <img src="/img/CSS3.png" alt="smoothie recipe icon">
    <h4>CSS3</h4>
    <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language like HTML.</p>
  </li>
  <li class="recipe">
    <img src="/img/Bootstrap.png" alt="smoothie recipe icon">
    <h4>Bootstrap</h4>
    <p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development.</p>
  </li>
  <li class="recipe">
    <img src="/img/JS.png" alt="smoothie recipe icon">
    <h4>JavaScript</h4>
    <p>JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification.</p>
  </li>
  <li class="recipe">
    <img src="/img/ReactJs.png" alt="smoothie recipe icon">
    <h4>ReactJs</h4>
    <p>React is an open-source JavaScript library for building user interfaces or UI components.</p>
  </li>
  <li class="recipe">
    <img src="/img/NodeJs.png" alt="smoothie recipe icon">
    <h4>NodeJs</h4>
    <p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside a web browser.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>